@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
*{
    padding: 0; 
    margin: 0; 
    max-width: 100vw;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
h1{
    color: white; 
    font-size: 90px;
}
.hero{
    margin-top: -100px;
    max-width: 100vw;
    width: 100%;
    height: 100vh; 
    display: flex; 
    /* justify-content: center; */
    flex-direction: row;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.can{
    margin-top: 13vh;
    max-width: 300px;
    height: auto;
    justify-self: center;
    align-self: center;
}
.header{
    max-width: 100vw;
    width: 100%;
    max-height: 30px;
    height: 30px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    background-color: white;
    padding-top: 30px; 
    padding-bottom: 30px; 
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    opacity: 0.9;
    overflow: hidden !important;
}
.nav-menu{
    text-decoration: none;
    display: flex; 
    flex-direction: row; 
    list-style-type: none;
}
.menu-item{
    padding-right: 80px; 
    transition: 1s;
}
.logo{
    margin-left: 30px;
    max-width: 90px;
    z-index: 10000;
}

.menu-item:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    cursor: pointer; 
}
.hero-cta{
    margin-top: 38vh; 
    margin-left: 10vw; 
}
#tagline{
    margin-top: 5vh;
    font-size: 80px; 
}
#business_description{
    font-size: 25px; 
    font-weight: 300;
    padding-right: 10vw; 
    padding-top: 15px; 
    padding-bottom: 15px;
    color: white;

}
.main-cta{
    margin-top: 30px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border: 2px solid black; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
    transition: 1s;
}
.section_1{
    max-height: 50vh; 
    max-width: 100vw; 
    height: 100%; 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-image: url("images/logo.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}
.description{
    padding-left: 10vw; 
    padding-right: 10vw; 
    text-align: center; 
    line-height: 200%;
    font-size: 22px;
    color: black;

}
.section_2{
    max-height: 60vh; 
    max-width: 100vw; 
    height: 100%; 
    width: 100%;
    margin-top: 40px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/coffee1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    flex-direction: column;
    color: white;
    padding-bottom: 10vh;
}
.section2_description{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 20vh; 
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px; 
}
.section2_title{
    padding-left: 10vw;
    padding-right: 10vw; 
    font-size: 35px; 
    font-weight: 500; 
    margin-bottom: 2vh; 
}
.section2_body{
    padding-left: 10vw;
    padding-right: 10vw; 
}
.main-cta2{
    margin-top: 30px; 
    margin-left: 10vw; 
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border: 2px solid black; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
    transition: 1s;
    max-width: 200px;
}
.section_3{
    max-width: 100vw; 
    max-height: 500px;
    height: 100%; 
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.link-box{
    height: 350px;
    width: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/coffee2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.5);
    font-size: 30px;
    color: white;
}
.link-box1{
    height: 350px;
    width: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/coffee3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.5);
    font-size: 30px;
    color: white;
}
.section_4{
    max-height: 60vh; 
    max-width: 100vw; 
    height: 100%; 
    width: 100%;
    margin-top: 40px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/coffee4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    flex-direction: column;
    color: white;
}
.footer{
    height: 5vh; 
    background-color: rgba(0,0,0,0.9);
    color: white; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}